.form {
  border: solid;
  padding: 10px;
}

.input {
  display: block;
  font-size: 30px;
  margin: auto;
  margin-bottom: 10px;
}


.select {
  font-size: 30px;
  display: block;
  margin: auto;
}

.preview {
  border: dotted;
  display: none;
}
